a {
    font-weight:     bold;
    text-decoration: none;
    padding:         5px;
    border-radius:   5px;

    color:           rgba(60, 100, 120, 1);
    background:      rgba(50, 120, 185, 0.1);
}

a > i {
    margin: 0 2px;
}

a:visited {
    color: rgba(60, 100, 120, 1);
}

a:hover {
    color:            rgba(180, 220, 255, 1) !important;
    background-color: rgba(50, 50, 50, 0.75);
}

.title {
    border-top-left-radius:  15px;
    border-top-right-radius: 15px;
    border:                  none;
    color:                   rgba(13, 62, 64, 1);
    box-shadow:              0 -8px 10px rgba(30, 60, 80, 0.5);
    background-image:        linear-gradient(180deg, rgba(100, 175, 245, 0.45), rgba(255, 255, 255, 0.1));
    background-color:        rgba(255, 255, 255, 0.1);
}

.footer {
    background-color:           transparent;
    border-bottom-left-radius:  15px;
    border-bottom-right-radius: 15px;
    border:                     none;
    box-shadow:                 0 12px 15px rgba(0, 40, 40, 0.45);
    background-image:           linear-gradient(-180deg, rgba(255, 255, 255, 0.1), #d0e0e9);
    padding:                    8px !important;
    text-shadow:                1px 1px 0px rgba(255, 255, 255, 0.95);
    color:                      #555;
}

.footer a {
    background-color: inherit;
    padding:          0;
}

.footer a:hover {
    color:            #005;
    background-color: inherit;
}

.result-controls i.off {
    color:         rgba(100, 100, 100, 0.5);
    border-bottom: 2px solid rgba(100, 100, 100, 0.5);
}

.result-controls i.on {
    color:         rgba(80, 100, 140, 1);
    border-bottom: 2px solid rgba(100, 120, 180, 1);
}

.result-controls i.fa-expand {
    color:         rgba(70, 70, 70, 1);
    border-bottom: 2px solid rgba(70, 70, 70, 1);
}

.result-controls i.fa-compress {
    color:         rgba(100, 100, 100, 0.5);
    border-bottom: 2px solid rgba(100, 100, 100, 0.5);
}

.result-controls i.fa-expand {
}

.instruction {
    font-family: "Trebuchet MS", sans-serif;
    font-size:   9pt;
    color:       rgba(50, 50, 50, 0.75);
    line-height: 1.5em;
}

.instruction .fa-chalkboard-teacher {
    font-size: 16pt;
    color:     rgba(60, 100, 130, 0.9);
    margin:    0 5px -1px 0;
}

.instruction .fa-clipboard {
    font-size: 12pt;
}

/* specific to project inspector page */
.scanTime {
    font-weight: normal;
    font-size:   9pt;
    text-shadow: none !important;
    color:       rgba(0, 0, 0, 0.5);
}

.category {
    font-size:        12pt;
    font-family:      Tahoma, serif;
    font-weight:      normal;
    vertical-align:   middle;
    clear:            both;
    padding:          4px 10px 5px 15px;
    border:           none;
    border-radius:    5px 15px 15px 5px;
    box-shadow:       0 1px 10px rgba(40, 60, 80, 0.5);
    text-shadow:      1px 1px 5px rgba(0, 0, 0, 0.35);
    color:            rgba(60, 70, 80, 1);
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(100, 175, 245, 0.25));
    background-color: rgba(255, 255, 255, 0.1);
}

.category .showhide { top: -0.25em; }

.macro-container {
    margin:                  -11px 8px 0 2px;
    border:                  1px solid rgba(50, 50, 50, 0.15);
    border-top:              none;
    border-top-left-radius:  0;
    border-top-right-radius: 0;
    background-color:        rgba(255, 255, 255, 0.1);
}

.macro-file-container {
    margin-top:    20px;
    margin-bottom: 40px;
}

.macro-file {
    font-size: 11pt;
    display:   block;
    margin:    8px 0;
}

.macro-container .top {
    height:         28px;
    vertical-align: middle;
    width:          100%;
    font-family:    Tahoma, serif;
    font-size:      9pt;
    display:        block;
    white-space:    nowrap;
}

.macro-container .dataTables_filter {
    float:      left;
    text-align: left;
    clear:      none;
    padding:    5px 0 0 0;
    margin:     0 10px 0 0;
}

.macro-container .dataTables_info {
    text-align: center;
    clear:      none !important;
    padding:    7px 0 0 0;
    margin:     0 15px;
}

.macro-container .dataTables_length {
    clear:   none;
    padding: 6px 0 0 0;
    margin:  0 15px;
}

.macro-container .dataTables_paginate {
    float:   right;
    padding: 2px 0 0 0;
    margin:  2px 0 0 0;
}

.macro-container .dataTables_paginate a {
    font-weight: normal;
}

.macro-container .dataTables_paginate a.paginate_button {
    padding:       2px 5px;
    background:    linear-gradient(to bottom, #fff 0%, rgba(200, 200, 200, 0.75) 100%);
    border-radius: 10px;
    border:        1px solid #979797;
}

.project-artifact {
    padding-top: 5px;
    width:       100% !important;
}

.project-artifact .label {
    font-weight:      normal;
    font-size:        9pt;
    text-transform:   uppercase;
    white-space:      nowrap;
    text-wrap:        none;
    padding:          5px;
    text-align:       left;
    vertical-align:   middle;

    height:           25px;
    width:            33%;

    background-color: rgba(220, 220, 220, 0.5);
    border-bottom:    1px solid rgba(100, 100, 100, 0.5);
}

.project-artifact tbody td {
    vertical-align: top;
}

.macro-name {
    margin:      5px 0;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(80, 80, 80, 0.5);
}

.macro-description, .description {
    font-family: "Trebuchet MS", sans-serif !important;
    color:       rgba(10, 80, 80, 0.75);
    font-weight: normal !important;
    text-shadow: none !important;
    font-style:  italic;
    font-size:   9pt !important;
}

.macro-description {
    margin: 5px 0;
}

.datavar {
    margin:           0 0 5px 0;
    width:            100%;
    background-color: rgba(255, 255, 255, 0.75);
}

.datavar .datavar-label {
    font-weight:      normal;
    font-size:        8pt;
    width:            65px;
    text-transform:   lowercase;
    border:           none !important;
    text-align:       left;
    vertical-align:   middle;

    color:            rgba(13, 52, 64, 0.65);
    background-color: rgba(170, 190, 200, 0.65);
}

.datavar .datavar-name {
    font-family:      monospace;
    font-weight:      bold;
    font-size:        10pt;
    border:           none !important;
    text-align:       left;

    color:            rgba(13, 52, 64, 1);
    background-color: rgba(200, 210, 220, 0.4);
    text-shadow:      1px 1px 5px rgba(0, 0, 0, 0.25);
}

.btn-clipboard {
    margin:           2px;
    font-size:        12pt;
    border:           none;
    background-color: transparent;
    color:            #555;
    cursor:           pointer;
}

#project-advice {
    margin: 10px;
}

.advice {
    font-family:      "Arial", "Verdana", sans-serif;
    font-size:        9pt;
    padding:          8px;
    margin:           15px 50px;
    border-radius:    5px;
    line-height:      01.5em;
    color:            #700;
    background-color: rgba(255, 245, 245, 0.5);
    background-image: linear-gradient(to bottom, rgba(100, 30, 30, 0.65) -20%, rgba(255, 255, 255, 0.15) 30%, rgba(255, 255, 255, 0.15) 70%, rgba(100, 30, 30, 0.65) 135%);
    box-shadow:       0 0 5px rgba(80, 0, 0, 0.95);
}

.advice a {
    padding:          1px 4px;
    background-color: #fff;
    color:            #a00;
    border-radius:    10px;
    border-top:       1px dotted rgba(80, 0, 0, 0.5);
    border-bottom:    1px dotted rgba(80, 0, 0, 0.5);
}

.advice code {
    font-weight: bold;
    color:       #000;
}