a {
    font-weight:     bold;
    text-decoration: none;
    padding:         5px;
    border-radius:   5px;

    color:           rgba(60, 100, 120, 1);
    background:      rgba(50, 120, 185, 0.1);
}

a > i {
    margin: 0 2px;
}

a:visited {
    color: rgba(60, 100, 120, 1);
}

a:hover {
    color:            rgba(160, 220, 255, 1) !important;
    background-color: rgba(50, 50, 50, 0.75);
}

.title {
    border-top-left-radius:  15px;
    border-top-right-radius: 15px;
    border:                  none;
    color:                   rgba(13, 62, 64, 1);
    box-shadow:              0 -15px 15px -7px rgba(30, 60, 80, 0.75);
    background-image:        linear-gradient(180deg, rgba(100, 175, 245, 0.45) 15px, rgba(255, 255, 255, 1) 70px);
    background-color:        rgba(255, 255, 255, 0.1);
}

.footer {
    border-bottom-left-radius:  15px;
    border-bottom-right-radius: 15px;
    border:                     none;
    padding:                    8px !important;

    color:                      #555;
    text-shadow:                1px 1px 0 rgba(255, 255, 255, 0.95);
    box-shadow:                 0 -15px 15px -12px rgba(0, 40, 40, 0.5) inset;
    background-color:           transparent;
    background-image:           linear-gradient(-180deg, rgba(255, 255, 255, 0.1), #d0e0e9);
}

.footer a {
    background-color: inherit;
    padding:          0;
}

.footer a:hover {
    color:            #005;
    background-color: inherit;
}

.result-controls i.off {
    color:         rgba(100, 100, 100, 0.5);
    border-bottom: 2px solid rgba(100, 100, 100, 0.5);
}

.result-controls i.on {
    color:         rgba(80, 100, 120, 1);
    border-bottom: 2px solid rgba(100, 120, 140, 1);
}

.result-controls i.fa-expand {
    color:         rgba(70, 70, 70, 1);
    border-bottom: 2px solid rgba(70, 70, 70, 1);
}

.result-controls i.fa-compress {
    color:         rgba(100, 100, 100, 0.5);
    border-bottom: 2px solid rgba(100, 100, 100, 0.5);
}

.result-controls i.fa-expand {
}

.instruction {
    font-family:   "Trebuchet MS", sans-serif;
    font-size:     9pt;
    color:         rgba(50, 50, 50, 0.75);
    line-height:   1.5em;
    margin-bottom: 15px;
}

.instruction .fa-clipboard, .instruction .fa, .instruction .far, .instruction .fas {
    font-size: 12pt;
}

.instruction .instruction-text {
    font-size: 9pt;
    display:   block;
    margin:    -18px 10px 3px 20px;
}

/* specific to project inspector page */
.scanTime {
    font-weight: normal;
    font-size:   9pt;
    text-shadow: none !important;
    color:       rgba(0, 0, 0, 0.5);
}

.category {
    font-size:        12pt;
    font-family:      Tahoma, serif;
    font-weight:      normal;
    vertical-align:   middle;
    clear:            both;
    padding:          4px 10px 5px 15px;
    border:           none;
    border-radius:    5px 15px 15px 5px;
    box-shadow:       0 1px 10px rgba(40, 60, 80, 0.65);
    text-shadow:      1px 1px 5px rgba(0, 0, 0, 0.35);
    color:            rgba(60, 70, 80, 1);
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(100, 175, 245, 0.25));
    background-color: rgba(255, 255, 255, 0.1);
}

.category .showhide { top: -0.25em; }

.project-container {
    margin:                  -11px 8px 0 2px;
    border:                  1px solid rgba(50, 50, 50, 0.15);
    border-top:              none;
    border-top-left-radius:  0;
    border-top-right-radius: 0;
    background-color:        rgba(255, 255, 255, 0.1);
}

.project-container .top {
    height:         28px;
    vertical-align: middle;
    width:          100%;
    font-family:    Tahoma, serif;
    font-size:      9pt;
    display:        block;
    white-space:    nowrap;
}

.project-container .dataTables_filter {
    float:      left;
    text-align: left;
    clear:      none;
    padding:    5px 0 0 0;
    margin:     0 10px 0 0;
}

.project-container .dataTables_info {
    text-align: center;
    clear:      none !important;
    padding:    7px 0 0 0;
    margin:     0 15px;
}

.project-container .dataTables_length {
    clear:   none;
    padding: 6px 0 0 0;
    margin:  0 15px;
}

.project-container .dataTables_paginate {
    float:   right;
    padding: 2px 0 0 0;
    margin:  2px 0 0 0;
}

.project-container .dataTables_paginate a {
    font-weight: normal;
}

.project-container .dataTables_paginate a.paginate_button {
    padding:       2px 5px;
    background:    linear-gradient(to bottom, #fff 0%, rgba(200, 200, 200, 0.75) 100%);
    border-radius: 10px;
    border:        1px solid #979797;
}

.project-artifact {
    padding-top: 5px;
    width:       100% !important;
    box-shadow:  0 10px 10px -5px rgba(40, 40, 40, 0.45);
}

.project-artifact .label, .iteration .label {
    font-weight:      normal;
    font-size:        9pt;
    text-transform:   uppercase;
    white-space:      nowrap;
    text-wrap:        none;
    padding:          5px;
    text-align:       left;
    vertical-align:   middle;

    height:           25px;

    background-color: rgba(220, 220, 220, 0.5);
    border-bottom:    1px solid rgba(100, 100, 100, 0.5);
}

.project-artifact > tbody > tr > td {
    vertical-align: top;
}

.datavar {
    width: 100%;
}

.datavar .datavar-label {
    font-weight:      normal;
    font-size:        8pt;
    border:           none !important;
    text-align:       left;
    vertical-align:   text-top;
    white-space:      nowrap;

    color:            rgba(13, 42, 54, 0.85);
    background-color: rgba(170, 190, 200, 0.45);
}

.datavar .datavar-name {
    font-family: monospace;
    font-weight: bold;
    font-size:   10pt;
    border:      none !important;
    text-align:  left;
    white-space: nowrap;

    color:       rgba(13, 52, 64, 0.85);
}

.datavar .datavar-name .crypt {
    color:       #aaa;
    font-weight: lighter;
    font-size:   9pt;
}

.datavar .description {
    white-space: unset !important;
}

.copy-macro {
    margin:           2px;
    font-size:        12pt;
    border:           none;
    background-color: transparent;
    color:            #555;
    cursor:           pointer;
}

#project-advice {
    margin: 10px;
}

.advice {
    font-family:      "Arial", "Verdana", sans-serif;
    font-size:        9pt;
    padding:          10px;
    margin:           15px 50px;
    border-radius:    5px;
    line-height:      1.5em;
    text-shadow:      none;
    font-weight:      normal;

    color:            #700;
    background-color: rgba(255, 245, 245, 0.5);
    background-image: linear-gradient(to bottom, rgba(100, 30, 30, 0.65) -20%, rgba(255, 255, 255, 0.15) 30%, rgba(255, 255, 255, 0.15) 70%, rgba(100, 30, 30, 0.65) 135%);
    box-shadow:       0 0 5px rgba(80, 0, 0, 0.95);
}

.advice a {
    padding:          2px 5px;
    background-color: #fff;
    color:            #a00;
    border-radius:    10px;
    border-top:       1px inset rgba(80, 0, 0, 0.5);
    border-bottom:    1px inset rgba(80, 0, 0, 0.5);
}

.advice a:hover {
    color:         rgba(255, 10, 10, 1) !important;
    border-top:    1px outset rgba(250, 0, 0, 1);
    border-bottom: 1px outset rgba(250, 0, 0, 1);
}

.advice code {
    font-weight: bold;
    color:       #000;
}

.macro-container, .data-container, #project-advice {
    display: none;
}

/* data variables */
.data-container .container-toolbar {
    font-size:        9pt;
    line-height:      1.5em;
    display:          inline-block;
    padding:          0 2px 0 10px;
    margin:           -34px 50px 34px 0;
    border-radius:    10px 2px 2px 10px;

    border:           1px inset rgba(150, 180, 200, 0.85);
    background-image: linear-gradient(-180deg, rgba(0, 10, 30, 0.25) 2%, transparent 8%);
    background-color: rgba(180, 200, 220, 0.45);
    box-shadow:       1px 1px 1px rgba(240, 250, 255, 0.85);
}

.data-container .container-toolbar i {
    border:         none;
    font-size:      7.5pt;
    margin-right:   3px;
    padding:        0 2px;
    vertical-align: middle;
}

.data-container .container-toolbar i.on {
    color: rgba(80, 90, 120, 0.85);
}

.data-container .container-toolbar i.off {
    color: rgba(100, 100, 100, 0.5);
}

.data-container .container-toolbar i:hover {
    box-shadow:       none;
    background-color: transparent;
}

.data-table .data-name {
    width:   300px;
    padding: 18px 10px 5px 10px;
}

.data-table .datavar-label {
    white-space:    nowrap;
    vertical-align: middle;
    width:          50%;
}

.data-table .datavar-label > a {
    padding:            0 8px 0 0;
    display:            inline-block;
    font-size:          110%;
    margin:             1px 0 -1px 15px;
    border-radius:      0 15px 15px 0;
    border:             1px solid rgba(50, 100, 115, 0.65);
    border-left-style:  none;
    border-right-width: 0;
    text-shadow:        1px 1px 1px rgba(245, 245, 245, 0.85);
    background-image:   linear-gradient(90deg, rgba(255, 255, 255, 0.75) 0%, rgba(230, 250, 250, 0.75) 5%);
}

.data-table .datavar-label > a:hover {
    background-image: none;
    text-shadow:      1px 1px 2px #000;
}

.data-table .datavar-label > a:hover i {
    background-image: none;
    text-shadow:      0 0 5px rgba(0, 0, 0, 0.75);
}

.data-table .datavar-label > a .far,
.data-table .datavar-label > a .fas {
    position:    relative;
    top:         2px;
    left:        -7px;
    text-shadow: 0 0 5px rgba(245, 245, 255, 0.75);
}

.data-table .datavar-label > a .far:hover,
.data-table .datavar-label > a .fas:hover {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

.data-table .datavar-label > a .fa-edit {
    font-size: 18px;
    margin:    -4px -5px -1px -8px;
    top:       1.5px;
}

.data-table .datavar-label > a .fa-table {
    top:       2.5px;
    font-size: 18px;
    margin:    -4px -2px 0 -8px;
}

.data-table .datavar-label > a .fa-window-restore {
    font-size: 18px;
    margin:    -5px 4px 0 -14px;
    left:      0;
}

.data-table .datavar-label > a .fa-terminal {
    font-size:     11px;
    background:    rgba(150, 170, 170, 0.85);
    top:           0;
    padding:       3px 2px;
    border-radius: 2px;
    box-shadow:    2px 0 2px rgba(100, 120, 120, 0.95);
    margin:        -2px -6px -2px -9px;
}

.data-table .datavar-label > a .fa-file-alt {
    font-size: 18px;
    left:      0;
    margin:    -5px 6px 0 -12px;
    top:       1.5px;
}

.data-table .datavar-label > a .fa-file-excel {
    font-size: 18px;
    margin:    -5px -1px 0 -5px;
    top:       1.5px;
}

.data-table .datavar-label .fa-chevron-right {
    margin:         0 5px;
    color:          rgba(35, 35, 35, 0.35);
    vertical-align: inherit;
}

.data-table .datavar-name {
    white-space:      unset;
    width:            100%;
    background-color: rgba(180, 200, 200, 0.25);
}

.data-table .advice {
    margin: 10px 5px 10px 15px;
}

.data-container .advice b {
    border:           1px inset;
    padding:          2px 4px;
    background-color: rgba(80, 80, 80, 0.2);
    border-radius:    5px;
}

.data-name i.fa.refactor,
.data-name i.fas.refactor,
.data-name i.far.refactor {
    margin-left: 9px;
}

.datavar-edit .field label {
    width: 85px !important;
}

.datavar-edit .slated .field .as-found,
.datavar-edit .slated .field input {
    width: 180px !important;
}

.datavar-edit .slated, .execute-ui .config {
    height: 40px !important;
}

.datavar-edit .proposed-table thead tr th:last-child {
    width: 100%;
}

/* macro */
.macro-file-container {
    margin-top:    40px;
    margin-bottom: 40px;
}

.macro-file {
    font-size: 11pt;
    display:   block;
    margin:    8px 0;
}

.macro-name, .data-name {
    margin:      5px 0;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(80, 80, 80, 0.5);
}

.macro-description, .description {
    font-family: "Trebuchet MS", sans-serif !important;
    color:       rgba(10, 80, 80, 0.75);
    font-weight: normal !important;
    text-shadow: none !important;
    font-style:  italic;
    font-size:   9pt !important;
}

.macro-description {
    margin: 5px 0;
}

.macro-table .label, .macro-table > tbody > tr > td {
    width: 33%;
}

.macro-table .datavar-label {
    width:          65px;
    text-transform: lowercase;
}

.macro-table .expects, .macro-table .produces {
    margin: 0 0 5px 0;
}

/* refactoring window */
i.fa.refactor, i.fas.refactor, i.far.refactor {
    margin:           2px 2px 2px 0;
    font-size:        11pt;
    border:           none;
    background-color: transparent;
    color:            #333;
    cursor:           pointer;
    text-shadow:      none;
}

.w2ui-popup {
    opacity: 0.9 !important;
}

.w2ui-popup .w2ui-popup-title {
    font-weight:      bold;
    background-image: linear-gradient(180deg, rgba(90, 135, 215, 0.5) 5px, rgba(255, 255, 255, 0.1) 25px);
    color:            rgba(80, 100, 120, 1);
}

.w2ui-popup .w2ui-box .w2ui-popup-body {
    background-color: #fff;
}

.refactor-ui, .execute-ui {
    height:  100%;
    width:   100%;
    padding: 10px;
}

.refactor-ui .control {
    cursor:        pointer;
    padding:       5px 3px 2px 3px;
    border-radius: 5px;
    border-bottom: 2px solid rgba(100, 120, 140, 1);
    color:         rgba(80, 100, 120, 1);
    text-shadow:   0 0 2px rgba(245, 245, 245, 0.75);
}

.refactor-ui .control:hover {
    border-bottom: 2px solid rgba(40, 60, 100, 1);
    color:         rgba(40, 60, 100, 1);
    text-shadow:   0 0 5px rgba(40, 80, 100, 0.75);
}

.refactor-ui .control span {
    font-family: Thonburi, sans-serif;
    margin-left: 5px;
}

.refactor-ui .control.disabled {
    cursor:      no-drop;
    text-shadow: none;
    color:       rgba(150, 150, 150, 0.85);
    border:      none;
    margin:      3px 15px;
}

.refactor-ui .control.disabled:hover {
    color:       rgba(150, 150, 150, 0.85);
    text-shadow: none;
}

.refactor-ui .slated, .execute-ui .config {
    height:           85px;
    padding:          5px;
    border-radius:    5px;
    border:           2px inset rgba(190, 215, 230, 0.25);
    background-color: rgba(190, 215, 230, 0.25);
    background-image: linear-gradient(180deg, rgba(120, 140, 160, 0.85) -4px, rgba(190, 215, 230, 0.25) 5px, rgba(190, 215, 230, 0.25) 73px, rgba(120, 140, 160, 0.85) 83px);
}

.refactor-ui .slated .field, .execute-ui .config .field {
    padding:    2px;
    width:      100%;
    text-align: left;
}

.refactor-ui .slated .field label, .execute-ui .config .field label {
    width:   50px;
    display: inline-block;
    color:   rgba(0, 0, 0, 0.75);
}

.refactor-ui .slated .field .as-found, .refactor-ui .slated .field input {
    width: 220px;
}

.refactor-ui .slated .field .as-found {
    display:       inline-block;
    font-weight:   bold;
    white-space:   nowrap;
    text-overflow: ellipsis;
    overflow:      hidden;
    margin:        0 0 -3px 0;
    color:         rgba(20, 30, 40, 0.75);
}

.refactor-ui .slated .field .divider {
    padding: 0 5px;
    color:   rgba(80, 80, 80, 0.5);
}

.refactor-ui .slated .field input, .execute-ui .config .field input {
    padding:        2px 4px;
    height:         20px;
    border-radius:  5px;
    vertical-align: baseline;
    border:         1px solid rgba(90, 110, 130, 0.75);
}

.refactor-ui .slated .field input[disabled] {
    cursor:           not-allowed;
    background-color: rgba(180, 180, 180, 0.25);
}

.refactor-ui .slated button.proposal-add {
    border:     none;
    background: transparent;
    float:      right;
    margin:     -25px -3px 0 0;
}

.refactor-ui .slated button.proposal-add span {
    font-size:   10px;
    margin-left: 3px;
}

.refactor-ui div.proposed {
    margin: 10px 0 0 0;
}

.refactor-ui table.proposed-table {
    height:        265px;
    overflow:      auto;
    display:       block;
    border-radius: 5px;
    margin:        0 2px;
    box-shadow:    0 0 3px rgba(80, 100, 120, 0.5);
}

.refactor-ui table.proposed-table thead th {
    font-weight:      normal;
    padding:          2px;

    background-color: rgba(230, 230, 230, 0.15);
    border:           1px solid rgba(100, 100, 100, 0.15);
    color:            rgba(0, 0, 0, 0.75);
}

.refactor-ui table.proposed-table tbody td.include {
    vertical-align:   baseline;
    background-color: #fff;
}

.refactor-ui table.proposed-table tbody td.current {
    color:          rgba(80, 80, 80, 0.75);
    text-align:     left;
    vertical-align: text-top;
    font-family:    monospace;
    padding:        0 4px;
}

.refactor-ui table.proposed-table tbody td.proposed {
    font-weight:    bold;
    text-align:     left;
    height:         30px;
    vertical-align: text-top;
    font-family:    monospace;
    padding:        0 4px;
}

.refactor-ui div.proposed .proposal-controls {
    padding:          1px 0 5px 0;
    margin:           10px -1px 0 -1px;
    background-image: linear-gradient(180deg, rgba(80, 100, 120, 0.5), rgba(255, 255, 255, 0.15) 11px, rgba(255, 255, 255, 0.15) 15px, rgba(80, 100, 120, 0.5));
}

.refactor-ui div.proposed .proposal-controls i {
    margin: 0 15px;
}

.no-proposal {
    padding: 10px;
}

.execute-ui .config {
    height:           62px !important;
    background-image: linear-gradient(180deg, rgba(120, 140, 160, 0.85) -5px, rgba(190, 215, 230, 0.25) 10px, rgba(190, 215, 230, 0.25) 48px, rgba(120, 140, 160, 0.85) 65px) !important;
}

.execute-ui .config .field label {
    width: 105px;
}

.execute-ui .config .field input {
    width: 400px;
}

.execute-ui .script {
    width:      100%;
    text-align: left;
    padding:    10px 0;
}

.execute-ui .script .gen-script {
    width:            100%;
    height:           230px;
    border:           2px solid;
    border-radius:    5px;
    padding:          5px;
    background-color: #000;
    font-family:      Consolas, monospace;
    white-space:      nowrap;
    font-size:        12px;
    color:            #eee;
    box-shadow:       0 0 15px rgba(0, 0, 0, 0.75);
}

.execute-ui .script .copy-script {
    float:   right;
    margin:  -15px 0 5px 0;
    display: inline-block;
    border:  none;
    color:   rgba(60, 80, 100, 1);
}

/* how to */
.howto-container {
    display: none;
}

.howto {
    box-shadow:          0 0 10px 10px inset rgba(255, 255, 255, 1);
    background-position: -10px -10px;
    width:               100%;
    height:              100%;
    vertical-align:      text-bottom;
}

.howto .caption {
    bottom:           10px;
    width:            100%;
    text-align:       center;
    vertical-align:   middle;
    padding:          5px;
    background-color: rgba(100, 120, 140, 0.5);
    border-top:       5px solid rgba(20, 40, 60, 0.15);
    border-bottom:    5px solid rgba(20, 40, 60, 0.15);
    font-weight:      bold;
    position:         absolute;
}