---
---

@import "{{ site.theme }}";

body {
    color: #4d4d4d;
}

.inner {
    width:  auto !important;
    margin: 0 50px;
}

#downloads {
    display:    none;
    visibility: hidden;
}

blockquote {
    border-left: 10px solid #d9d9d3;
    font-size:   1.3em;
}

.quick_link {
    margin-right:     20px;
    padding:          20px;
    border:           5px solid #505040;
    background-color: rgba(100, 100, 70, 0.3);
    font-weight:      bold;
    font-variant:     small-caps;
    letter-spacing:   1.15em;
    width:            250px;
}
