body {
    font-family:      Calibri, serif;
    font-size:        10pt;
    background-color: #fff;
}

table.compare-extended-result-table {
    font-size:     10pt;
    color:         #333;
    font-family:   monospace;
    padding:       5px;
    border:        1px solid #888;
    border-radius: 5px;
    box-shadow:    5px 1px 10px #555;
}

table.compare-extended-result-table thead tr th {
    font-weight: bold;
    font-family: sans-serif;
    text-align:  left;
    text-shadow: 1px 1px 3px #888;
    color:       #358;
    padding:     0 5px;
}

table.compare-extended-result-table tbody tr td {
    border-bottom: 1px solid #ddd;
    padding:       2px 5px;
    margin-right:  2px;
}

