body {
    font-family:      "Trebuchet MS", sans-serif;
    font-size:        10pt;
    margin:           0;
    background-color: transparent;
    padding:          25px;
}

a {
    color:           rgba(50, 100, 60, 1);
    font-weight:     bold;
    text-decoration: none;
    background:      rgba(50, 100, 60, 0.1) url(https://nexiality.github.io/documentation/image/link.png) no-repeat 2px 2px;
    padding:         2px 5px 3px 22px;
    border-radius:   5px;
}

a:visited {
    color: rgba(50, 100, 60, 1);
}

a:hover {
    color:            rgba(50, 245, 60, 1);
    background-color: rgba(50, 50, 50, 0.7);
}

.title {
    font-size:        14pt;
    font-family:      Tahoma, serif;
    font-weight:      bold;
    background-color: rgba(228, 227, 201, 1);
    color:            rgba(64, 62, 13, 1);
    box-shadow:       0 0 10px rgba(88, 77, 61, 0.75);
    border:           2px solid rgba(37, 114, 71, 1);
    vertical-align:   middle;
    padding:          15px;
}

.title span {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

.result-controls {
    margin:      3px 0 15px 0;
    padding:     5px 0 10px 10px;
    color:       rgba(100, 100, 100, 1);
    float:       right;
    user-select: none;
    clear:       both;
}

.result-controls i {
    cursor:       pointer;
    margin-right: 5px;
    padding:      5px;
}

.result-controls i span {
    padding-left: 3px;
    font-family:  Thonburi, sans-serif;
}

.result-controls i.off {
    color:         rgba(100, 100, 100, 0.75);
    border-bottom: 2px solid rgba(100, 100, 100, 0.75);
}

.result-controls i.on {
    color:         rgba(40, 150, 40, 1);
    border-bottom: 2px solid rgba(50, 180, 50, 1);
}

.result-controls i:hover {
    text-shadow:      1px 1px 4px #fff;
    background-color: rgba(40, 40, 40, 0.1);
    box-shadow:       0 -1px 4px rgba(40, 40, 40, 0.5);
}

.result-controls i.fa-exclamation-circle.off {
    color:         rgba(100, 100, 100, 0.75);
    border-bottom: 2px solid rgba(100, 100, 100, 0.75);
}

.result-controls i.fa-exclamation-circle.on {
    color:         rgba(150, 40, 40, 1);
    border-bottom: 2px solid rgba(150, 40, 40, 1);
}

.result-controls i.fa-expand {
    color:         rgba(80, 80, 80, 1);
    border-bottom: 2px solid rgba(80, 80, 80, 1);
}

.result-controls i.fa-compress {
    color:         rgba(100, 100, 100, 0.75);
    border-bottom: 2px solid rgba(100, 100, 100, 0.75);
}

.showhide {
    position:                   relative;
    font-size:                  15px;
    float:                      right;
    top:                        -10px;
    right:                      -10px;
    padding:                    4px 3px;
    border-top-right-radius:    10px;
    border-bottom-right-radius: 10px;
    background-color:           rgba(150, 160, 171, 0.75);
    box-shadow:                 0 0 1px #333;
}

.showhide i {
    padding: 3px;
    cursor:  pointer;
}

.showhide i:hover { text-shadow: 0 0 15px rgba(255, 255, 255, 1); }

.canHide {
    padding:       10px;
    margin:        25px 0 15px 0;
    min-height:    8px;
    border:        1px solid rgba(50, 50, 50, 0.35);
    border-radius: 10px;
}

div.execMeta {
    font-size: 10pt;
    clear:     both;
}

table.execMeta { font-size: 10pt; font-family: Consolas, monospace;}

.execLabel { width: 145px;color: #555;background-color: rgba(239, 239, 239, 0.75); padding: 5px 3px; }

.execValue { text-align: left; font-weight: bold; background-color: rgba(255, 255, 255, 0.75); color: #333; }

.execValueFail {
    color:       #d00 !important;
    text-shadow: 1px 1px 4px #f88;
}

.execValue pre { margin: 0; }

.result { font-family: Tahoma, serif; font-size: 10pt; border: none; background: #fff; }

.result td, .result th { border-bottom: 1px solid #ddd; }

.footer {
    font-size:        8pt; color: #555;
    font-family:      Consolas, monospace;
    background-color: #d0e0e0;
    padding:          5px;
    text-align:       right;
    border-top:       2px solid #c0c0c0;
    border-bottom:    2px solid #c0c0c0;
    letter-spacing:   0.125em;
}

.errorSection {
    font-size:        12pt;
    font-family:      Tahoma, serif;
    color:            #faa;
    background-color: #800;
    padding:          5px;
    border-top:       2px solid #f00;
    border-bottom:    2px solid #f00;
    margin:           4px 0;
}

.errorPrompt { color: #ccc; font-size: 10pt; }

.errorStackTrace {
    background:  #fdd;
    padding:     5px;
    margin:      8px;
    line-height: 12pt;
    font-family: Consolas, monospace;
    font-size:   9pt;
    color:       #800;
}

.reportFooter { background: #ddd }

.exec-summary-header {
    clear:                      both;
    width:                      max-content;
    min-width:                  100%;
    margin-right:               5px;
    background-color:           rgba(150, 160, 171, 0.75);
    border-top-left-radius:     10px;
    border-top-right-radius:    10px;
    border-bottom-right-radius: 10px;
}

.exec-summary-header .label {
    font-weight:    normal;
    font-size:      9pt;
    text-transform: uppercase;

    padding:        14px 5px 0 5px;

    float:          left;
    text-align:     left;
    vertical-align: middle;

    height:         23px;
}

.exec-summary-header .label-small { width: auto; }

.exec-summary-header table th:last-child { padding-right: 54px; }

.exec-summary {
    clear:     both;
    width:     max-content;
    min-width: 100%;
}

.exec-summary .planStep {
    padding:                   0 !important;
    margin:                    0 5px 0 0;
    border-top-left-radius:    0;
    border-bottom-left-radius: 0;
}

.exec-summary .value-plan {
    padding-top:    20px;
    padding-bottom: 10px;
    font-size:      15px;
}

.planStep .showhide {
    top:     0;
    right:   0;
    z-index: 99;
}

.plan-step-summary { display: table; }

.plan-step-summary .value {
    font-weight:      bold;
    font-size:        10pt;
    text-overflow:    ellipsis;
    overflow:         hidden;

    background-color: rgba(255, 255, 255, 0.25);
    padding:          3px 5px 1px 5px;
    border-bottom:    1px solid rgba(100, 100, 100, 0.15);

    float:            left;
    text-align:       left;
    vertical-align:   middle;

    height:           23px;
}

.plan-step-summary .value-small {
    width:   auto;
    padding: 8px 15px 2px 5px !important;
}

.plan-step-summary .value {
    /*padding-top: 10px;*/
}

.plan-step-summary .noFailure {
    background-color: rgba(221, 255, 221, 0.5);
}

.plan-step-summary .hasFailure {
    background-color: rgba(255, 239, 239, 1);
}

.label-script, .value-script { width: 250px; }

.label-data, .value-data { width: 280px; }

.iteration {
    padding:       0 !important;
    clear:         both;
    margin:        5px 0 15px 20px;
    border-radius: 0;
    border:        none;
}

.iteration table th:last-child { padding-right: 10px; }

.iteration .label {
    font-weight:      normal;
    font-size:        9pt;
    text-transform:   uppercase;
    white-space:      nowrap;
    text-wrap:        none;

    background-color: rgba(220, 220, 220, 0.5);
    border-bottom:    1px solid rgba(100, 100, 100, 0.5);
    padding:          5px;

    text-align:       left;
    vertical-align:   middle;

    height:           25px;
}

.iteration tr.iter.hasFailure {
    background-color: rgba(255, 210, 210, 0.5);
}

.iteration tr.iter.noFailure {
    background-color: rgba(211, 255, 221, 0.5);
}

.exec-summary .planStep .iteration .value {
    font-weight:      normal;
    font-size:        10pt;
    background-color: rgba(255, 255, 255, 0.25);
    border-bottom:    1px solid rgba(100, 100, 100, 0.25);
    height:           auto;
    text-align:       left;
    vertical-align:   bottom;
    text-overflow:    ellipsis;
    overflow:         hidden;
}

.label-scenarioPassed, .value-scenarioPassed { width: 97px; text-align: center !important; }

.label-datetime, .value-datetime { width: 135px; white-space: nowrap; }

.label-time, .value-time { width: 58px; white-space: nowrap; }

.label-datetime, .label-time, .value-datetime, .value-time { text-align: center !important; }

.label-num, .value-num, .label-percent, .value-percent { text-align: right !important; }

.label-num, .value-num { width: 35px; white-space: nowrap; }

.label-percent, .value-percent { width: 55px; white-space: nowrap; }

.label-title, .value-title { text-wrap: none !important; width: 250px; word-break: break-word; }

.value-title { font-weight: bold; }

.plan-step-summary .value-title, .exec-summary-header .label-title { width: 355px; }

.label-iteration, .value-iteration { width: 60px; text-align: center !important; }

.value-scriptRef, .value-scenarioRef {
    font-weight:      normal;
    vertical-align:   text-top;
    color:            rgba(64, 62, 13, 1);
    background-color: rgba(228, 227, 201, 0.5);
    padding:          5px;
    margin:           5px 0 0 0;
    white-space:      nowrap;
    width:            240px;
    font-family:      monospace;
    font-size:        9pt;
}

.label-ref {
    color:          rgba(64, 62, 13, 0.5);
    text-overflow:  ellipsis;
    overflow:       hidden;
    vertical-align: text-top;
    min-width:      71px;
}

.value-ref {
    text-overflow: ellipsis;
    overflow:      hidden;
    padding:       0 0 0 5px;
}

.info {
    float:         right;
    position:      relative;
    right:         -6px;
    top:           -6px;
    color:         rgba(64, 62, 53, 0.75);
    z-index:       99;
    display:       inline;
    margin-bottom: -15px;
}

.value-tally {
    font-weight:             bold !important;
    text-decoration-line:    underline;
    text-underline-position: under;
    text-decoration-color:   rgba(80, 80, 80, 0.75);
    text-decoration-style:   double;
}

.spacer, .spacer2 { flex-grow: 100; }

.spacer2 { border: none !important; }

tr:hover { background-color: rgba(125, 125, 120, 0.12); }

td.hasFailure { background: #fdd !important; color: #800; }

td.allPass { background: #dfd !important; color: #080; }

div.custom-header, div.custom-footer {
    margin:        60px 50px 0 50px;
    padding:       10px 30px;
    border-radius: 35px;
    border-bottom: groove;
    border-top:    groove;
    box-shadow:    0 5px 10px -5px rgba(100, 100, 100, 0.75);
    border-color:  rgba(250, 255, 250, 0.85) rgba(0, 0, 0, 0.1) rgba(100, 100, 100, 0.5);
    color:         #555;
    font-size:     11pt;
    line-height:   1.35em;
}

div.custom-footer {
    margin: 30px 50px -30px 50px;
}

div.custom-header a, div.custom-footer a {
    background:    none;
    color:         #00f;
    border-radius: initial;
    padding:       initial;
}