body {
    font-family:      Calibri, serif;
    font-size:        10pt;
    background-color: #fff;
}

.compare-result { padding: 10px 2px; }

.compare-result-stats { padding: 5px; }

.compare-result-stats th.stats-type { vertical-align: top; }

.compare-result-stats th { padding: 3px; text-align: left; }

.compare-result-stats td {
    font-family: monospace;
    padding:     3px;
    text-align:  right;
}

.compare-result-table {
    background:    rgba(200, 210, 215, 0.25);
    padding:       10px;
    border:        1px solid rgba(200, 210, 215, 0.5);
    border-radius: 5px;
    box-shadow:    5px 5px 10px -2px rgba(40, 40, 40, 0.75);
}

.compare-result-table thead {
    background: rgba(80, 80, 80, 0.85);
    color:      rgba(240, 240, 240, 0.85);
    box-shadow: 0 4px 5px #888;
}

.compare-result-table thead th { padding: 5px 10px; box-shadow: 0 -2px 5px #aaa; }

.compare-result-row-even { background-color: #fff; }

.compare-result-row-odd { background-color: #f5f5f5; }

.compare-result-analysis { vertical-align: top !important; padding-right: 10px; }

.compare-result-matched { background: rgba(150, 255, 150, 0.25); color: #080; }

.compare-result-table th, .compare-result-table td { vertical-align: middle; text-align: left; }

.compare-result-expected, .compare-result-actual {
    text-align:  center !important;
    font-family: sans-serif;
    font-size:   72%;
    padding:     3px;
}

.compare-result-expected-line, .compare-result-actual-line { padding-right: 10px; }

.compare-result-expected, .compare-result-expected-line, .compare-result-expected-content {
    background: rgba(250, 250, 200, 0.5);
}

.compare-result-actual, .compare-result-actual-line, .compare-result-actual-content {
    background: rgba(200, 230, 250, 0.5);
}

.compare-result-expected-line, .compare-result-actual-line { text-align: right !important; }

.compare-result-expected {
    color:      #550;
    border:     1px inset rgba(180, 180, 150, 0.5) !important;
    background: rgba(220, 220, 180, 0.75);
}

.compare-result-actual {
    color:      #058;
    border:     1px inset rgba(140, 180, 200, 0.5) !important;
    background: rgba(160, 210, 220, 0.75);
}

.compare-result-analysis, .compare-result-actual, .compare-result-actual-line, .compare-result-actual-content {
    border-bottom: 1px solid #ddd;
}
